
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">

      </li>
      <li class="nav-item">
      <%= link_to "Home", welcome_index_path, :class =>'nav-link'%>


      </li>
  
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Mountains
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <%= link_to "sugarloaf", welcome_sugarloaf_path, :class =>'dropdown-item'%>
            <%= link_to "Sugarbush", welcome_sugarbush_path, :class =>'dropdown-item'%>
                    <%= link_to "SundayRiver", welcome_sundayRiver_path, :class =>'dropdown-item'%>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Steamboat Springs</a>
        </div></li></ul></div></nav>
<div class="container">
<h1>Welcome to New England</h1>
<p>Join us in Skiing the East!</p>
</div>
<div class="container">
  <div class="d-flex flex-column">

<%= link_to image_tag('sugarbush-bannerDONEDONE.jpg'), welcome_sugarbush_path%>
<%= link_to image_tag('sundayriverbanner.jpg'), welcome_sundayRiver_path%>
<%= link_to image_tag('sugarloafbannerDONE.jpg'), welcome_sugarloaf_path%>


    <div class="w-100"></div>

  </div>
</div>

<br />
