<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
  <%= link_to "Home", welcome_index_path, :class =>'dropdown-item'%>

      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Dropdown
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <%= link_to "sugarloaf", welcome_sugarloaf_path, :class =>'dropdown-item'%>

            <%= link_to "Sugarbush", welcome_sugarbush_path, :class =>'dropdown-item'%>

              <%= link_to "Sunapee", welcome_mountSunapee_path, :class =>'dropdown-item'%>
                <%= link_to "Mt.Abram", welcome_mountAbram_path, :class =>'dropdown-item'%>
                  <%= link_to "Wachusett", welcome_wachusettMountain_path, :class =>'dropdown-item'%>
                    <%= link_to "SundayRiver", welcome_sundayRiver_path, :class =>'dropdown-item'%>
                      <%= link_to "PatsPeak", welcome_patsPeak_path, :class =>'dropdown-item'%>

          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>
<h1>Welcome#mountSunapee</h1>
<p>Find me in app/views/welcome/mountSunapee.html.erb</p>
<h3> Trails open </h3>
<%= @trails %>
<h3> Lifts open </h3>
<%= @lifts %>
<h3> Base snow depth </h3>
<%= @base_depth %>
<h3> Summit depth </h3>
<%= @summit_depth %>
<h3> base temperature </h3>
<%= @base_temp %>
<h3> Summit temperature </h3>
<%= @summit_temp %>

<h2> User Reviews</h2>
<%= form_with scope: :review, url: reviews_path, local: true do |form| %>
  <p>
    <%= form.label :title %><br>
    <%= form.text_field :title %>
  </p>

  <p>
    <%= form.label :text %><br>
    <%= form.text_area :text %>
  </p>

  <p>
    <%= form.hidden_field :mountain_id, value: @mountain.id %>
    <%= form.submit %>
  </p>
<% end %>


<table>
  <tr>
    <th>Title</th>
    <th>Text</th>
    <th></th>
  </tr>

  <% @review.each do |review| %>
    <tr>
      <td><%= review.title %></td>
      <td><%= review.text %></td>
      <td><%= link_to 'Show', review_path(review) %></td>
    </tr>
  <% end %>
</table>
