<h1>Welcome#mountAbram</h1>
<p>Find me in app/views/welcome/mountAbram.html.erb</p>
<h3> Trails open </h3>
<%= @trails %>
<h3> Lifts open </h3>
<%= @lifts %>
<h3> Base snow depth </h3>
<%= @base_depth %>
<h3> Summit depth </h3>
<%= @summit_depth %>
<h3> base temperature </h3>
<%= @base_temp %>
<h3> Summit temperature </h3>
<%= @summit_temp %>

<h2> User Reviews</h2>
<%= form_with scope: :review, url: reviews_path, local: true do |form| %>
  <p>
    <%= form.label :title %><br>
    <%= form.text_field :title %>
  </p>

  <p>
    <%= form.label :text %><br>
    <%= form.text_area :text %>
  </p>

  <p>
    <%= form.hidden_field :mountain_id, value: @mountain.id %>
    <%= form.submit %>
  </p>
<% end %>


<table>
  <tr>
    <th>Title</th>
    <th>Text</th>
    <th></th>
  </tr>

  <% @review.each do |review| %>
    <tr>
      <td><%= review.title %></td>
      <td><%= review.text %></td>
      <td><%= link_to 'Show', review_path(review) %></td>
    </tr>
  <% end %>
</table>
