<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
      <%= link_to "Home", welcome_index_path, :class =>'nav-link'%>


      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Mountains
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <%= link_to "sugarloaf", welcome_sugarloaf_path, :class =>'dropdown-item'%>
            <%= link_to "Sugarbush", welcome_sugarbush_path, :class =>'dropdown-item'%>
                    <%= link_to "SundayRiver", welcome_sundayRiver_path, :class =>'dropdown-item'%>

        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>
<br>
<div class=”container”>
<!-- <div class="col-sm-8"> -->
  <div class= "container">
<h1>Sugarloaf</h1>
<h2>Description</h2>
<p> Sugarloaf is a  one peak mountain with a range of trails. Lots of expert and intermidiate Trails.
  There are over 50 marked glades which give a lot of oppurtunity for a clean non swept up glade run. A mountain can have a great glade run but if its all?
  used up and the icy bottom is exposed it just becomes a nightmare to navigate and the journey down becomes much slower and difficult without any real enjoyment added.
  Sugarloaf is the largest ski resort in Maine and the second largest in New England with over 1,240 ac of skiing trails, glades,
   and side country terrain. Sugarloaf is located on Maine’s second highest peak, 4,237 ft, with Maine’s tallest vertical of 2,820 ft.  <p>

<h2> Trail Map </h2>
<p>

  <!-- <a class="btn btn-primary" data-toggle="collapse" href="#multiCollapseExample1" role="button" aria-expanded="false" aria-controls="multiCollapseExample1">Toggle first element</a> -->
  <!-- <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#multiCollapseExample2" aria-expanded="false" aria-controls="multiCollapseExample2">Toggle second element</button> -->
  <button class="btn btn-primary" type="button" data-toggle="collapse" data-target=".multi-collapse" aria-expanded="false" aria-controls="multiCollapseExample1 multiCollapseExample2">View map</button>
</p>
<div class="row">
  <div class="col">
    <div class="collapse multi-collapse" id="multiCollapseExample1">
      <div class="card card-body">
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bd-example-modal-lg">View map on-site</button>

        <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
          <div class="modal-dialog modal-lg">
            <div class="modal-content">
        <%= image_tag("sugarloafmapsmall.jpg", :alt => "rss feed") %>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="collapse multi-collapse" id="multiCollapseExample2">
      <div class="card card-body">
<font size="5">
        <%=link_to "View map offsite" , "https://www.sugarloaf.com/Documents/Sugarloaf/Trail%20Maps/Trail_Map201718.pdf", target: :_blank%>
</font>
      </div>
    </div>
  </div>
</div>




<h2> Conditions </h2>

<h1>Overview</h1>
<h2>Trail quality</h2>
<p> Very nice</p>
<h3> Trails open </h3>
<%= @trails %>
<h3> Lifts open </h3>
<%= @lifts %>
<h3> Base snow depth </h3>
<%= @base_depth %>
<h3> Summit depth </h3>
<%= @summit_depth %>
<h3> base temperature </h3>
<%= @base_temp %>
<h3> Summit temperature </h3>
<%= @summit_temp %>
<p><br></p>

<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">
  Write a review
</button>
<div class = "insideReviews">
<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Write a review</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">



        <%= form_with scope: :review, url: reviews_path, local: true do |form| %>
          <p>
            <%= form.label :title %><br>
            <%= form.text_area :title ,:cols => "19", :rows => "1" %>
          </p>

          <p>
            <%= form.label :text %><br>
            <%= form.text_area :text %>
          </p>

          <p>
            <%= form.hidden_field :mountain_id, value: @mountain.id %>
            <%= form.submit %>
          </p>
        <% end %>

        </div>
      </div>
      <!-- <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div> -->
    </div>
  </div>
</div>

<p><br></p>

<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalLong">
  View user reviews
</button>
  <div class = "insideReviews">
<!-- Modal -->
<div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">User reviews</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">


        <table>
          <tr>
            <th>Title</th>
            <th>Text</th>
            <th></th>
          </tr>

          <% @review.each do |review| %>
            <tr>
              <td><%= review.title %></td>
              <td><%= review.text %></td>
              <td><%= link_to 'Show', review_path(review) %></td>
            </tr>
          <% end %>
        </table>
        </div>
      </div>

    </div>
  </div>
</div>
    </div>
  </div>
</div>


</div>
<br />
