<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
  <%= link_to "Home", welcome_index_path, :class =>'dropdown-item'%>

      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Dropdown
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <%= link_to "sugarloaf", welcome_sugarloaf_path, :class =>'dropdown-item'%>

            <%= link_to "Sugarbush", welcome_sugarbush_path, :class =>'dropdown-item'%>

              <%= link_to "Sunapee", welcome_mountSunapee_path, :class =>'dropdown-item'%>
                <%= link_to "Mt.Abram", welcome_mountAbram_path, :class =>'dropdown-item'%>
                  <%= link_to "Wachusett", welcome_wachusettMountain_path, :class =>'dropdown-item'%>
                    <%= link_to "SundayRiver", welcome_sundayRiver_path, :class =>'dropdown-item'%>
                      <%= link_to "PatsPeak", welcome_patsPeak_path, :class =>'dropdown-item'%>

          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Steamboat Springs</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>
<h1>Sugarbush</h1>
<h2>Description</h2>
<p>Sugarbush resort is two mountains right next to eachother. The larger one is named Sugarbush and has two peaks: lincoln peak
and castlerock. The other mountain is called Mt.Elen. <p>
<h2> Trail Map </h2>

<%= image_tag("sugarbush-map-201819-winter-72dpi.jpg", :alt => "rss feed") %>

<h2> Conditions </h2>

<h1>Overview</h1>
<h2>Trail quality</h2>
<p> Sugarbush has a wide array of trails for all types of ski and snowboarders. The main trails such as the ones coming off the express quad are perfect for long winding rides down
jThere are many winding trails that give the feel of a rollercoaster. Many of these are skiied off past 1 pm. Sugarbush gets enough powder in the more advanced trails after a snowfall.</p>
<h3> Trails open </h3>
<%= @trails %>
<h3> Lifts open </h3>
<%= @lifts %>
<h3> Base snow depth </h3>
<%= @base_depth %>
<h3> Summit depth </h3>
<%= @summit_depth %>
<h3> base temperature </h3>
<%= @base_temp %>
<h3> Summit temperature </h3>
<%= @summit_temp %>

<h1> Write a review <h1>

<%= form_with scope: :review, url: reviews_path, local: true do |form| %>
  <p>
    <%= form.label :title %><br>
    <%= form.text_field :title %>
  </p>

  <p>
    <%= form.label :text %><br>
    <%= form.text_area :text %>
  </p>

  <p>
    <%= form.hidden_field :mountain_id, value: @mountain.id %>
    <%= form.submit %>
  </p>
<% end %>
<h2> User Reviews</h2>

<table>
  <tr>
    <th>Title</th>
    <th>Text</th>
    <th></th>
  </tr>

  <% @review.each do |review| %>
    <tr>
      <td><%= review.title %></td>
      <td><%= review.text %></td>
      <td><%= link_to 'Show', review_path(review) %></td>
    </tr>
  <% end %>
</table>
